body{
    margin: 0;
    min-height: 100vh;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #0575E6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

#container {
    margin: 100px auto;
    border: 2px solid lightgray;
    border-radius: 5px;
    width: 360px;
    background: #f7f7f7;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.containerMain{
    min-height: 100vh;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}

.d-flexCC{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
}

.completed {
    color: gray;
    text-decoration: line-through;
}

h1{
    margin: 0;
    color: white;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
    background: #0575E6;  /* fallback for old browsers */
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    height: 40px;
    display: flex;
    align-items: center;
    color: #666; 
    line-height: 40px;
    background: rgba(5, 117, 230, 0.005);
}

li:nth-child(2n){
    background: #fff;
}

input{
    border: none;
    border-bottom: 3px solid #fff;
    padding: 13px 13px 13px 20px;
    height: 40px;
    width: 100%;
    display: block;
    color: #2980b9;
    box-sizing: border-box;
    font-size: 18px;
    background: #fff;
    transition: 0.2s;
}

input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: #666;
    font-size: 1rem;
    font-style: italic;
    opacity: 0.6;
}

input:focus{
    border-bottom: 3px solid rgba(5, 117, 230, 0.5);
    padding: 13px 13px 13px 20px;
    height: 40px;
    outline: none;
    transition: 0.2s;
}

svg{
    height: 1.5rem;
}
.icon{
}

.fa-plus{
    fill: white;
    height: 28px;
    float: right;
    transition: 0.2s linear;
}

.fa-trash{
    fill: #e74c3c;
    height: 10px;
}

span{
    margin-right: 20px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 40px;
    width: 0;
    background: #e74c3c;
    opacity: 0;
    transition: 0.2s linear;
}

.li-hover span{
    width: 40px;
    opacity: 1;
    transition: 0.2s linear;}

.li-hover span svg{
    fill: white;
    height: 20px;
    transition-duration: 0.3s
}

.inputOut{
    border: none;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s linear;
}

.mobileButton{
    display: none;
}

.rotation-45 {
    transform: rotate(45deg);
    transition: 0.2s linear;
}

@media (max-width: 767.98px) {
    .mobileButton{
        margin: 0 0 0 auto;
        padding-left: 1rem;
        padding-right: 1rem;
        color: rgba(102, 102, 102, 0.5);
        text-decoration: none;
        display: block;
    }
    
    .mobileButton-clicked{
        color: #2980b9;
    }
}